html, body {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: small;
    color: #78829d;
    margin: 0px;
    padding: 0;
    height: 100%;
}

textarea:focus, input:focus{
    outline: 0;
}

.header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}

.aside {
    line-height: 30px;
    background: #1f2637;
    height: 100%;
    width: 200px;
    float: left;
    padding: 0;
    position: fixed;
}

.aside .nav {
    padding-left: 0;
    margin-top: 10px;
    margin-bottom: 0;
}

.aside .logo .logo-image {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 68px;
    width: 57px;
    background-image: url("logo.png");
    background-repeat: no-repeat;
}

.logo-text {
    text-align: center;
    color: white;
    font-size: medium;
    margin: 11px;
}
.aside .nav a {
    float: left;
    text-decoration: none;
    color: #78829d;
    padding-right: 0px;
    width: 200px;
    margin-bottom: 10px;
}

.aside .nav a i {
    padding-right: 10px;
    padding-left: 20px;
}


.aside .nav a:hover {
    background-color: black;
    color: white;
}

.section {
    background-color: black;
    float: left;
    padding: 6px 0 4px 4px;
    padding-bottom: 45px;
    position: absolute;
    left: 204px;
    width: calc(100% - 212px);
}

.section .image {
    margin-right: 4px;
    padding-right: 0;
    float: left;
    height: 0;
    display: block;
    background-image: url("img01.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 510px) {
    .section .image {
        padding-bottom: 100%;
        width: calc(100% - 4px);
    }
}
@media only screen and (min-width: 511px) and (max-width: 760px) {
    .section .image {
        padding-bottom: 50%;
        width: calc(50% - 4px);
    }
}
@media only screen and (min-width: 761px) and (max-width: 1010px) {
    .section .image {
        padding-bottom: 33.33%;
        width: calc(33.33% - 4px);
    }
}
@media only screen and (min-width: 1011px) and (max-width: 1260px) {
    .section .image {
        padding-bottom: 25%;
        width: calc(25% - 4px);
    }
}
@media only screen and (min-width: 1261px) and (max-width: 1510px) {
    .section .image {
        padding-bottom: 20%;
        width: calc(20% - 4px);
    }
}
@media only screen and (min-width: 1511px) and (max-width: 1760px) {
    .section .image {
        padding-bottom: 16.66%;
        width: calc(16.66% - 4px);
    }
}
@media only screen and (min-width: 1761px) {
    .section .image {
        padding-bottom: 14.28%;
        width: calc(14.28% - 4px);
    }
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:#181e2c;
    height: 46px;
    color: black;
    clear: both;
    text-align: center;
    padding: 0px;
}


.footer .footer-items {
    position: relative;
}

.footer ul.footer-items {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 46px;
}

.footer .a-question-circle, .a-cog {
    float: right;
    padding: 0px 20px 0px 20px;
    background-color: #1f2637;
    text-decoration: none;
    height: 46px;
    line-height: 46px;
    font-size: medium;
}

.footer .a-question-circle:link, .footer .a-cog:link {
    color: white;
}

.footer .a-question-circle:visited, .footer .a-cog:visited {
    color: white;
}

.footer .a-cog {
    background-color: #38ada4;
}

.aside .nav-split-line {
    clear: both;
    width: 200px;
    height: 4px;
    background-color: #19202e;
    border-top-style: solid;
    border-top-color: #141824;
    border-top-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #282f41;
    border-bottom-width: 2px;
}

.aside .radio-switch {
    clear: both;
    margin-bottom: 14px;
}

.aside #tags-radio {
    margin-left: 20px;
    margin-bottom: 14px;
}

.aside #users-radio {
    margin-left: 30px;
    margin-bottom: 14px;
}

.aside .search-image-form {
    white-space: nowrap;
}

.aside .search-image-input {
    height: 30px;
    width: 160px;
    border-radius: 24px;
    border: 1px solid #4b5368;
    padding-left: 9px;
    background-image: url("search-icon-white.png");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 150px 50%;
    background-color: black;
    color: white;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 14px;
    margin-left: auto;
    margin-bottom: 14px;
    margin-right: auto;
    display: block;
}

::-webkit-input-placeholder {
   color: #8c97b2;
}

:-moz-placeholder { /* Firefox 18- */
   color: #8c97b2;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #8c97b2;
}

:-ms-input-placeholder {
   color: #8c97b2;
}

input[type="radio"] {
    display:none;
}


input[type="radio"] + label {
    margin-left: 35px;
}

input[type="radio"] + label span {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: -1px 8px 0 0;
    vertical-align: middle;
    background-color: black;
    cursor: pointer;
    border-radius:  50%;
}

input[type="radio"]:checked + label span {
    background-color: #4acec4;
}
