html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: small;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #78829d;
  background-color: black;
}

textarea:focus, input:focus {
  outline: 0;
}

.header {
    padding: 5px;

    text-align: center;

    color: white;
    background-color: black;
}

.aside {
    line-height: 30px;

    position: fixed;

    float: left;

    width: 200px;
    height: 100%;
    padding: 0;

    background: #1f2637;

    .nav {
        margin-top: 10px;
        margin-bottom: 0;
        padding-left: 0;
    }

    .logo {
        .logo-image {
            display: block;

            width: 57px;
            height: 68px;
            margin-top: 20px;
            margin-right: auto;
            margin-left: auto;

            transition-duration: .2s;

            background-image: url('../img/logo.png');
            background-repeat: no-repeat;

            &:hover {
                transition-duration: .2s;
                -webkit-transform: scale(1.2);
                    -ms-transform: scale(1.2);
                        transform: scale(1.2);
            }
        }
        .logo-text {
            font-size: medium;

            margin: 11px;

            text-align: center;

            color: white;
        }
    }

    .nav {
        a {
            float: left;

            width: 200px;
            margin-bottom: 10px;
            padding-right: 0;

            transition-duration: .7s;
            text-decoration: none;

            color: #78829d;

            i {
                margin-right: 10px;
                margin-left: 20px;
            }

            &:hover {

                margin-left: 20px;

                transition-duration: .7s;
                -webkit-transform: scale(1.2);
                   -moz-transform: scale(2);
                    -ms-transform: scale(1.2);
                     -o-transform: scale(1.2);
                        transform: scale(1.2);

                color: white;
                background-color: black;

                i {
                    transition-duration: .7s;
                    -webkit-transform: rotate(360deg);
                       -moz-transform: rotate(360deg);
                        -ms-transform: rotate(360deg);
                         -o-transform: rotate(360deg);
                            transform: rotate(360deg);

                    color: white;
                    background-color: black;
                }
            }
        }
    }
}

.aside .nav-split-line
{
    clear: both;

    width: 200px;
    height: 4px;

    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #141824;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #282f41;
    background-color: #19202e;
}

.aside .radio-switch
{
    clear: both;

    margin-bottom: 14px;
}

.aside #tags-radio
{
    margin-bottom: 14px;
    margin-left: 20px;
}

.aside #users-radio
{
    margin-bottom: 14px;
    margin-left: 30px;
}

.aside .search-image-form
{
    white-space: nowrap;
}

.aside .search-image-input
{
    display: block;

    width: 160px;
    height: 30px;
    margin-top: 14px;
    margin-right: auto;
    margin-bottom: 14px;
    margin-left: auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 9px;

    color: white;
    border: 1px solid #4b5368;
    border-radius: 24px;
    background-color: black;
    background-image: url('../img/search-icon-white.png');
    background-repeat: no-repeat;
    background-position: 150px 50%;
    background-size: 16px 16px;
}

::-webkit-input-placeholder
{
    color: #8c97b2;
}

:-moz-placeholder
{
    /* Firefox 18- */
    color: #8c97b2;
}

::-moz-placeholder
{
    /* Firefox 19+ */
    color: #8c97b2;
}

:-ms-input-placeholder
{
    color: #8c97b2;
}

input[type='radio']
{
    display: none;
}


input[type='radio'] + label
{
    margin-left: 35px;
}

input[type='radio'] + label span
{
    display: inline-block;

    width: 6px;
    height: 6px;
    margin: -1px 8px 0 0;

    cursor: pointer;
    vertical-align: middle;

    border-radius: 50%;
    background-color: black;
}

input[type='radio']:checked + label span
{
    background-color: #4acec4;
}

.section {
    position: absolute;
    left: 204px;

    float: left;

    width: calc(100% - 212px);
    padding: 6px 0 4px 4px;
    padding-bottom: 45px;

    background-color: black;

    .image {
        display: block;
        float: left;

        background-image: url('../img/img01.png');
        background-repeat: no-repeat;
        background-size: 100%;

        transition-duration: 1s;

        height: 0;
        margin-right: 4px;
        padding-right: 0;

        @media only screen and (max-width: 510px) {
            width: calc(100% - 4px);
            padding-bottom: 100%;
        }
        @media only screen and (min-width: 511px) and (max-width: 760px) {
            width: calc(50% - 4px);
            padding-bottom: 50%;
        }
        @media only screen and (min-width: 761px) and (max-width: 1010px) {
            width: calc(33.33% - 4px);
            padding-bottom: 33.33%;
        }
        @media only screen and (min-width: 1011px) and (max-width: 1260px) {
            width: calc(25% - 4px);
            padding-bottom: 25%;
        }
        @media only screen and (min-width: 1261px) and (max-width: 1510px) {
            width: calc(20% - 4px);
            padding-bottom: 20%;
        }
        @media only screen and (min-width: 1511px) and (max-width: 1760px) {
            width: calc(16.66% - 4px);
            padding-bottom: 16.66%;
        }
        @media only screen and (min-width: 1761px) {
            width: calc(14.28% - 4px);
            max-width: 270px;
            padding-bottom: 14.28%;
        }
    }
}

.footer
{
    position: fixed;
    bottom: 0;

    clear: both;

    width: 100%;
    height: 46px;
    padding: 0;

    text-align: center;

    color: black;
    background-color: #181e2c;

    .footer-items {
        position: relative;
    }

    ul.footer-items {
        height: 46px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .a-question-circle {
        font-size: medium;
        line-height: 46px;

        float: right;

        height: 46px;
        padding: 0 20px 0 20px;

        text-decoration: none;

        background-color: #1f2637;

        &:link {
            color: white;
        }
        &:visited {
            color: white;
        }
    }

    .a-cog {
        @extend .a-question-circle;

        background-color: #38ada4;
    }
}
